Google_Calendar-Booking.json
{
  "name": "Google Calendar Booking",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        0
      ],
      "id": "4c04a4e5-be24-46a9-8c81-3d2dd2058566",
      "name": "When chat message received",
      "webhookId": "7f423bee-675b-409c-82c2-c6352c8efb6e",
      "notesInFlow": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, I am your Google Calendar Assistant. Please use the following data from the webhook create a Google Calendar event:\n{{ $workflow.name }} {{ $now }}\n\nConvert the Unix timestamps into ISO 8601 datetime format for calendar compatibility.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "6d67f077-b5c6-41d9-94c4-8eca0778cc0f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "path": "ec70fe77-800e-46d1-bc81-943659634e8a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        -160
      ],
      "id": "07954e24-483c-4878-bdb2-cd193668c249",
      "name": "Webhook",
      "webhookId": "ec70fe77-800e-46d1-bc81-943659634e8a"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "somewavebuzz@gmail.com",
          "mode": "list",
          "cachedResultName": "Maierstro"
        },
        "start": "={{ $fromAI(\"start_time\") }}",
        "end": "={{ $fromAI(\"end_time\") }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ $fromAI(\"location\") }}",
          "location": "={{ $fromAI(\"event_description\") }}",
          "summary": "={{ $fromAI(\"name\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        540,
        240
      ],
      "id": "3114aaa3-824d-452d-9e45-38b61993974e",
      "name": "Google Calendar",
      "notesInFlow": true,
      "notes": "{\n  \"start\": new Date($json[\"start_time\"] * 1000).toISOString(),\n  \"end\": new Date($json[\"end_time\"] * 1000).toISOString(),\n  \"location\": $json[\"location\"],\n  \"description\": $json[\"event_description\"]\n}"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        220
      ],
      "id": "17dbe611-4a7a-4fc8-a449-4ae15c5921bd",
      "name": "OpenAI Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8bbc73d-447a-46e4-a583-d3bbe4b60cd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68bc16a493202e0f5d0fb0fe8fae1f1e0798fd528aca2434f96c07cd92ac55bb"
  },
  "id": "nunKJyfHESaefNak",
  "tags": [
    {
      "createdAt": "2025-02-10T19:57:34.830Z",
      "updatedAt": "2025-02-10T19:57:34.830Z",
      "id": "1aXYAsffrEYfJQFY",
      "name": "events"
    },
    {
      "createdAt": "2025-02-10T19:57:43.633Z",
      "updatedAt": "2025-02-10T19:57:43.633Z",
      "id": "YkjK4bhKHyNQDfSl",
      "name": "productive"
    },
    {
      "createdAt": "2025-02-10T19:58:03.156Z",
      "updatedAt": "2025-02-10T19:58:03.156Z",
      "id": "tRvDSYzwRKlEcfsU",
      "name": "ai agent"
    }
  ]
}